export SECRETS_DIR=$HOME/workspace/secrets-cf-cloudops-sandbox/enemytests
export OPSMAN_PASSWORD=$(cat ${SECRETS_DIR}/opsman-password)
export OPSMAN_HOSTNAME=opsman.enemytests-sys.cloudops-eu.cf-app.com
export OPSMAN_USER=pivotal
